# Сборка
build/
cmake-build-*/
*.o
*.exe
*.out
*.so
*.dll
*.dylib

# IDE
.vscode/
.idea/
*.swp
*.swo

# БД
*.db
*.sqlite
*.sqlite3

# Файлы окружения
.env
.env.local

# Логи
*.log

# Временные файлы
*.tmp
*~

# OS
.DS_Store
Thumbs.db
